# Virtual environments
venv/
env/
.venv/

# Python cache files
__pycache__/
*.pyc

# SQLite database file
tasks.db

# Flask instance folder (if you use it)
instance/

# Testing cache and coverage outputs
.pytest_cache/
.coverage
htmlcov/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE and Editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
